.textPage{
   text-align: center;
   margin-top: 40px;
   font-family: "Sentinel SSm A","Sentinel SSm B",serif;
}
.myTable{
  margin-top: 50px;
}
div.detail h6{
  margin-top: 40px;
}
div.detailcreate h6{
  margin-top: 30px;
}